# Database
POSTGRES_URL="postgresql://user:password@localhost:5432/classsport"
POSTGRES_PRISMA_URL="postgresql://user:password@localhost:5432/classsport"
POSTGRES_URL_NON_POOLING="postgresql://user:password@localhost:5432/classsport"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Environment
NODE_ENV="development"
